<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

**Exercise 2:** Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

**Exercise 3:** Create a markdown cell for an introduction

In this notebook, we will be reviewing some of the Data Science Tools and Ecosystem

**Exercise 10:** Insert a markdown cell to list Objectives.

**Objectives**

- List popular languages for Data Science.
- Show how to use markdown on jupyter notebook
- Examples of arithmetic expressions

**Exercise 4:** Create a markdown cell to list data science languages

Some of the popular languages used in Data Science are: 
1. Python
2. R
3. Java

**Exercise 5:** Create a markdown cell ti list data science libraries

Some of the commonly used libraries used by Data Scientists include: 
- Pandas
- Numpy
- Matplotlib
- Seaborn

**Exercise 6:** Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
| --- | 
| GitLab |
| Apache |
| Tensorflow |

**Exercise 7:** Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8:** Create a code cell to multiply and add numbers

This a simple arithmetic expression to multiply then add integers.

In [1]:
(3 * 4) + 5

17

**Exercise 9:** Create a code cell to convert minutes to hours

In this cell we will convert 200 minutos to hours by dividing by 60

In [2]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Exercise 11:** Create a markdown cell to indicate the Author's name

## Author

Catalina Cerda DÃ­az